<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 使用注解扫描 -->
	<context:component-scan base-package="cn.gxkjdx"></context:component-scan>
	<!-- 启动注解支持 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 导入properties -->
	<context:property-placeholder file-encoding="UTF-8" location="classpath:db.properties"/>
	<!-- 处理静态资源 
	<mvc:default-servlet-handler default-servlet-name=""/>-->
	<!-- 试图解释器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/views/manager/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!-- 默认编码 -->
  		<property name="defaultEncoding" value="UTF-8"></property>
  	<!-- 默认内存的大小 b-->
	<!--   <property name="maxInMemorySize" value="512000000" ></property> -->
  	<!-- 默认文件最大大小,b-->
  		<property name="maxUploadSize" value="20000000"></property>
	</bean>
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/admin/login.gkd"/>
			<mvc:exclude-mapping path="/download.gkd"/>
			<mvc:exclude-mapping path="/upload.gkd"/>
			<mvc:exclude-mapping path="/index.gkd"/>
			<bean class="cn.gxkjdx.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/admin/login.gkd"/>
			<mvc:exclude-mapping path="/download.gkd"/>
			<mvc:exclude-mapping path="/upload.gkd"/>
			<mvc:exclude-mapping path="/index.gkd"/>
			<bean class="cn.gxkjdx.interceptor.PowerInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
